//=====================================================
.fundamentnyie-rabotyi {
	&__title {
		font-size: 32px;
		text-align: center;
      margin: 20px 0px 20px 0px;
   }
   &__body {
		padding: 20px 20px;
		background-color: #f7f7f7;
		border-radius: 8px;
   }
   &__box {
		display: flex;
		background-color: #d4cfcf;
		padding: 20px;
		border-radius: 8px;
		margin: 40px 0px 30px 0px;
		@media (max-width:767.98+px){
			flex-direction: column;
		}
	}
	&__left {
      flex: 0 1 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
   }
   &__left-rev {
      flex: 0 1 50%;
      margin: 0px 30px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width:767.98+px){
			margin: 0px 0px 20px 0px;
			text-align: center;
		}
		& img {
			max-width: 400px;
			@media (max-width:992.98+px){
				max-width: 300px;
			}
			@media (max-width:479.98+px){
				max-width: 150px;
			}
		}
   }
   &__rigth-rev {
      flex: 0 1 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
   }
	&__rigth {
      flex: 0 1 50%;
      margin: 0px 0px 0px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
		@media (max-width:767.98+px){
			margin: 20px 0px 0px 0px;
			text-align: center;
		}
		& img {
			max-width: 400px;
			@media (max-width:992.98+px){
				max-width: 300px;
			}
			@media (max-width:479.98+px){
				max-width: 150px;
			}
		}
	}
	&__text {
		font-size: 16px;
		line-height: 24px;
		margin: 0px 0px 20px 0px;
		& span {
			display: inline-block;
			margin: 5px 0px;
			font-weight: 500;
		}
   }
   &__text-ital {
      font-style: italic;
      font-size: 16px;
		line-height: 24px;
		margin: 0px 0px 20px 0px;
   }
   &__table-body {
		background-color: #f7f7f7;
      border-radius: 8px;
      padding: 20px;
   }
   &__table {
      width: 100%;
      border-collapse: collapse;
      & caption {
         margin: 0px 0px 20px 0px;
         font-size: 20px;
      }
      & thead {   
         border: 3px solid #b9b9b9;
         font-size: 16px;
         & th {    
            &:last-child{
               width: 250px;
               @media (max-width:767.98px){
                  width: 140px;
               }
            }
         }
      }
      & th,td {
         padding: 14px;
         border: 1px solid #b9b9b9;
         @media (max-width:479.98px){
            padding: 7px;
            font-size: 12px;
         }
      }
      & tbody {
         border: 3px solid #b9b9b9;
         & tr {
            &:hover{
               background-color: #d4cfcf;
               transition: all 0.5s ease 0s;
            }
         }
      }
	}
}
